<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <form action="/search" method="get">
      <label for="query">Input name or email: </label>
      <input type="text" name="query" id="query" />
      <button type="submit">Search</button>
    </form>

    <ul>
      <% if(locals.users) { %> <% users.forEach(user=> { %>
      <li>
        ID: <%=user.id%>, Name: <%=user.firstName%> <%=user.lastName%>
        <%=user.email%> <%=user.age%> <%=user.bio%>
      </li>
      <%}); %> <%} %>
    </ul>
  </body>
</html>
